[Desktop Entry]
Name=FortiClient SSLVPN
Comment=FortiClient SSLVPN for Linux
Exec=forticlientsslvpn
Icon=/opt/forticlientsslvpn/icons/forticlientsslvpn.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;
