[Desktop Entry]
Name=Visual Studio Code
Type=Application
Comment=Multiplatform Visual Studio Code from Microsoft
Exec=vscode %F
TryExec=vscode
Icon=visual-studio-code
Categories=Development;IDE;
